<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Beautiful Homepage</title>
  <link rel="stylesheet" href="./css/indexstyle.css">
  
</head>
<body>
  
  {{> header}}
  <div class="content wrapper">
    
    <div class="hero-section">
      <legend>

      <h1>Each exam is a stepping stone, unleash your inner warrior, embrace the challenge, and let your hard work light the way to your dreams.</h1>
      <h2> - <cite>Dr. A. P. J. Abdul Kalam </h2>
      <br>
      <h1 id="hallticket">Click on login to get your <b>HALLTICKET.....</b></h1>
      </legend>
    </div>

    <div class="image-gallery">
      <img src="img/image1.jpg" alt="Children writing exams">
      <img src="img/image2.jpg" alt="Children writing exams">
      <img src="img/image3.jpg" alt="Children writing exams">
    </div>



    <!-- //ballonn -->
    <div class="ballon">
      <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
         <!-- Additional bubbles -->
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  {{> footer}}
</body>
</html>
