<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home-KR Techno</title>
  <link rel="stylesheet" href="./css/indexstyle.css" >
  <link rel="shortcut icon" type="x-icon" href="./css/logo.png">  
</head>
<body>
  
  {{> header}}
  <div class="content wrapper">
    
    <div class="hero-section">
      

      <h1>Each exam is a stepping stone, unleash your inner warrior, embrace the challenge, and let your hard work light the way to your dreams.</h1>
      <h2> - <cite>Dr. A. P. J. Abdul Kalam </h2>
      <br>
      <br>
      <h1 id="hallticket">Click on login to get your <b>HALLTICKET.....</b></h1>
      
    </div>

    <div class="image-gallery">
      <img src="img/image1.jpg" alt="Children writing exams">
      <img src="img/image2.jpg" alt="Children writing exams">
      <img src="img/image3.jpg" alt="Children writing exams">
    </div>



    <!-- //ballonn -->
    <div class="ballon">
      <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>


  <script>
     // JavaScript for menu button toggle
    const menuBtn = document.querySelector('.menu-btn');
    const nav = document.querySelector('nav ul');

    menuBtn.addEventListener('click', (e) => {
      nav.classList.toggle('active');
      e.stopPropagation();
    });

    // Close menu when clicking outside
    document.addEventListener('click', () => {
      nav.classList.remove('active');
    });

    // Prevent closing when clicking inside the nav
    nav.addEventListener('click', (e) => {
      e.stopPropagation();
    });
  </script>
  {{> footer}}
</body>
</html>