 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="./css/loginstyle.css">
</head>
<body>
    <h1 style="color: aliceblue;">{{registrationMessage}}</h1>
  
  <div class="wrapper">
      <div class="title-text">
        <div class="title login">Login Form</div>
        <div class="title signup">Signup Form</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide login">Login</label>
          <label for="signup" class="slide signup">Signup</label>
          <div class="slider-tab"></div>
        </div>


        <div class="form-inner login"  >

          <form action="/login" class="login" method="post" id="loginForm">
            <div class="field">
              <input type="text" placeholder="Email Address" required name="email">
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required name="password">
            </div>
            {{!-- <div class="pass-link"><a href="#">Forgot password?</a></div> --}}
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit">
            </div>
            <div class="signup-link">Not a member? <a href="">Signup now</a></div>
          </form>



          <form action="/register" class="signup" method="post" id="registerForm">
              
              <div class="field">
              <input type="text" placeholder="Full Name" required name="name">
              </div>
             <div class="field">
              <input type="number" placeholder="Phone Number" required name="phone">
            </div>
            <div class="field">
              <input type="email" placeholder="Email Address" required name="email">
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required name="password">
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm password" required name="cnfpassword">
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" >
            </div>
          </form>
        </div>
      </div>
    </div>
    
<script src="./js/login.js"></script>   
</body>
</html> 

