<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
            margin: 0;
            padding: 0;
        }
        .container {
            display: flex; 
            justify-content: center;
            align-items: center;
            padding: 10px;
            height: 80vh;
        }
        .form-container {
            margin-bottom: 75px;
            border-radius: 15px;
            padding: 20px;
            height: auto;
            width: 30vw;
            border: none;
            background: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
        }
        .form-group {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            align-items: center;
        }
        label {
            font-size: 16px;
        }
        input[type="number"], input[type="email"], input[type="submit"] {
            width: 75%;
            padding: 10px;
            font-size: 16px;
            border-radius: 9px;
            border: 1px solid #ccc;
        }
        input[type="submit"] {
            width: 95px;
            background-color: #0073e6;
            color: white;
            cursor: pointer;
            border: none;

        }
        input[type="submit"]:hover {
            background-color: #0059b3;
        }
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: #fff;
            text-align: center;
            padding: 10px;
        }
       /* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background-color: #333; */
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  header h1 {
    margin: 0;
    font-size: 40px;
  }
  
  /* Navigation bar styles */
  nav {
    text-align: right;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  
  nav ul li {
    margin-left: 20px;
  }
  
  /* Navigation bar link styles */
nav ul li a {
    text-decoration: none;
    color: #fff; /* Original color */
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for color change */
    cursor: pointer; /* Changes cursor to pointer on hover */
  }
  
  /* Hover effect for navigation bar links */
  nav ul li a:hover {
    color: #fca37b; /* New color on hover */
  }
    </style>
</head>
<body>
    {{>header}}
    <div class="container">
        
        <div class="form-container">
            <form action="/result" method="post">
                <div class="form-group">
                    <label for="hallticket"><b>Hall Ticket Number:</b></label>
                    <input type="number" id="hallticket" name="hallticket" required>
                </div>
                <div class="form-group">
                    <label for="email"><b>Email:</b></label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group submit">
                    <input type="submit" value="Result" required>
                </div>
            </form>
        </div>
    </div>
</div>
    <footer>
        &copy; 2024 KR TECHNOLOGIES PVT LTD
    </footer>
</body>
</html>
