
<header>
    <h1 class="company-name">KR TECHNOLOGIES PVT LTD</h1>
    <button class="menu-btn">&#9776;</button>
    <nav class="nav-container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/register">Login</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
